---
layout: post
---

<ul class="list">
  <li>Software Developer at <mark><a href="http://nearform.com/">nearForm</a></mark>&nbsp;<a href="http://nearform.com/"><img src="/images/nf.png" style="vertical-align: text-bottom; height: 20px;"></a></li>
  <li>Based in south-east Ireland</li>
  <li>Father of two boys and a girl</li>
  <li><mark><a href="https://twitter.com/darsee">@darsee</a></mark> on Twitter</li>
  <li><mark><a href="https://instagram.com/seamusdarcy">@seamusdarcy</a></mark> on Instagram</li>
  <li><mark><a href="https://github.com/darsee">@darsee</a></mark> on GitHub</li>

  {% if site.posts.size > 0 %}
  <li>Posts
    <ul class="list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%b %d, %Y" }}</time>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
</ul>
